name: Release

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 17 * * 2" # Weekly on Tuesday evenings

jobs:
  release-please:
    name: Run Release Please

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}

    steps:
      - name: Run release-please command
        id: release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38

  test-and-publish:
    name: Test & Publish

    runs-on: ubuntu-latest

    needs: [release-please]

    if: needs.release-please.outputs.releases_created != 'false'

    concurrency: publish-group # optional: ensure only one action runs at a time

    permissions:
      contents: read
      id-token: write # Required for OIDC

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: latest
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Test package
        run: pnpm test

      - name: Publish package
        run: npm publish
